h2 {
    font-size: 24px;
    color: blue;
}

#content-header {
    font-size: 18px;
    color: red;
}

span {
    display: block;
    color: blue
}

.deck {
    color: blanchedalmond;
    background-color: rosybrown;
}